[2013-11-23 21:37] indutny opened #1 "Support multiple workers"
n/t

[2013-11-23 21:37] indutny opened #2 "Daemon mode?"
n/t

[2013-11-23 21:41] indutny opened #3 "Dtrace support"
n/t

[2013-11-23 21:41] indutny opened #4 "Better logging (including syslog support)"
n/t

[2013-11-23 21:47] indutny opened #5 "Load SNI context from redis."
n/t

[2013-11-23 22:52] #2 closed, assigned to indutny

[2013-11-24 10:11] #1 closed, assigned to indutny

[2013-11-24 11:41] #4 closed, assigned to nobody

[2013-11-25 11:31] indutny opened #6 "Cluster: kill workers on master signal"

[2013-11-26 13:00] indutny opened #7 "client: use writev"
n/t

[2013-11-27 21:55] blissdev opened #8 "Question: Does bud support OCSP stapling?"
Sorry if this is the wrong place to ask this, just curious if bud currently or has plans to support OCSP stapling.

Thanks!

[2013-11-27 21:57] #7 closed, assigned to nobody

[2013-11-27 21:58] #6 closed, assigned to nobody

[2013-11-27 23:31] indutny opened #9 "Refactor logging in client.c"
n/t

[2013-11-28 16:09] #5 closed, assigned to nobody

[2013-11-28 21:09] #9 closed, assigned to nobody

[2013-11-29 17:41] indutny opened #10 "Resolve redis hostname"
n/t

[2013-11-29 20:00] #10 closed, assigned to nobody

[2013-11-29 20:02] indutny opened #11 "http pool"

[2013-12-01 22:13] indexzero opened #12 "Documentation for testing"
Mostly just an FYI until I can make a PR.
- [ ] Raise ulimit
- [ ] `ab` on OSX is borked
- [ ] use `ab -f tls1` or `ab -f ssl3`

[2013-12-02 12:06] #8 closed, assigned to nobody

[2013-12-03 23:34] indutny opened #13 "Reloading config"

[2013-12-03 23:34] indutny opened #14 "Health checks"

[2013-12-05 15:25] #11 closed, assigned to nobody

[2013-12-05 16:02] indutny opened #16 "Custom proxylines"

[2013-12-05 19:45] #13 closed, assigned to nobody

[2013-12-06 10:53] indutny opened #17 "Multiple backends"
n/t

[2013-12-09 10:43] #17 closed, assigned to nobody

[2013-12-09 10:43] #14 closed, assigned to nobody

[2013-12-11 17:59] indutny opened #18 "npm : publish to npm"

[2013-12-14 04:25] tellnes opened #19 "Choose backend based on SNI servername"
Is it possible to make bud select a backend based on the SNI configuration which was used?

[2013-12-15 17:26] mscdex opened #20 "benchmarks"
It'd be nice to see some kind of numbers with regards to how bud compares performance-wise to some popular TLS/SSL terminators like pound, stud, nginx, haproxy, etc.

[2013-12-18 15:44] #18 closed, assigned to nobody

[2013-12-21 12:59] #19 closed, assigned to nobody

[2013-12-21 14:08] tellnes opened #21 "Bud prints wrong version number"
`bud --version` prints `v0.1`

[2013-12-21 14:41] tellnes opened #22 "Segmentation fault (core dumped)"
[code]

[2013-12-21 14:41] #21 closed, assigned to nobody

[2013-12-21 14:43] #22 closed, assigned to nobody

[2013-12-23 18:17] #20 closed, assigned to nobody

[2014-01-20 20:01] igrigorik opened #23 "TLS false start & SSL_MODE_HANDSHAKE_CUTTHROUGH"
Perhaps more of a question / clarification... My understanding is that there is nothing to enable on the server to support false-start -- this is a client-side decision? E.g. Chrome requires forward secrecy + NPN.

https://github.com/indutny/bud/blob/44bba6414213048212d069b611911e76116ed584/src/config.c#L860 - perhaps I'm wrong, but this seems unnecessary. The config flag in bud is what threw me o

[2014-01-21 10:12] #23 closed, assigned to nobody

[2014-01-27 13:38] indutny opened #24 "TLS Session tickets support"
n/t

[2014-01-27 16:29] #24 closed, assigned to indutny

[2014-03-17 09:42] #3 closed, assigned to nobody

[2014-03-26 15:08] tellnes opened #25 "undefined reference to bud_trace_*"
I'm trying to build the latest version (0.8.1) and gets some errors.

uname -a
`Linux ip-10-0-0-152 3.2.0-58-virtual #88-Ubuntu SMP Tue Dec 3 17:58:13 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux`

[code]

[2014-03-26 16:45] #25 closed, assigned to nobody

[2014-03-28 00:24] bahamas10 opened #26 "x-forwarded-for"
I'd love to see the ability for `x-forwarded-for`, etc. headers to be injected into the backend request.

Admittedly, I'm unfamiliar with the code base, so I don't know if the request is parsed via HTTP or not (i see `http_parser.c` as a dep) but if it is, i'd love to see the ability to inject these (or other) headers to the backend.

If the response is not HTTP parsed, then the overhead from this

[2014-03-28 14:35] tellnes opened #27 "Specify `proxyline` in sni configuration"
It would be nice to allow to add proxyline for some backends, but not for all.

[2014-03-29 17:06] tellnes opened #29 "Proxyline is broken when using workers"
`proxyline_fmt` is an empty string when `bud_client_prepend_proxyline` are using it. It does look like `bud_server_format_proxyline` is not called in the workers or it is called after the configuration is passed to the workers.

Proxyline works if I sett workers to zero in the configuration.

[2014-03-29 22:34] #27 closed, assigned to nobody

[2014-03-29 22:34] #29 closed, assigned to nobody

[2014-04-02 15:30] #26 closed, assigned to nobody

[2014-04-03 05:48] bahamas10 opened #31 "JSON parse fails with leading newline"
If the json config specified by `--conf` has a leading newline it fails to parse.

Not a huge issue, just an interesting side effect of some JSON stringification/template logic I'm using.

[2014-04-03 06:27] bahamas10 opened #32 ""daemon" in config has no effect"
[code]

seems to have no effect, it appears `--daemon` is required.

[2014-04-03 19:48] #31 closed, assigned to nobody

[2014-04-09 17:46] Acconut opened #33 "Drop root privileges after listening"
bud should drop root privileges (if running as root) after it started to listen.

[2014-04-12 01:26] #32 closed, assigned to nobody

[2014-05-18 17:44] #33 closed, assigned to nobody

[2014-06-05 13:45] lloydbenson opened #36 "support passphrases"
Please add support for SSL certs that have passphrases.  Ideally it would have a mechanism like apache where it can execute a file or that echos the phrase via a bash script or something.  Although folks I am sure would like it just in plaintext in the config as well depending on their security model.

[2014-06-05 15:13] #36 closed, assigned to nobody

[2014-06-13 14:14] joeybaker opened #37 "x-forward option not working"
It looks like my backend is never receiving the `x-forwarded-for` header.

Headers it does get:

[code]

My config: https://gist.github.com/joeybaker/c7746eab0cce51dee3e2

[2014-06-13 16:12] #37 closed, assigned to nobody

[2014-07-09 21:57] joeybaker opened #42 "ssl_read errors with streaming responses from backend"
It appears that large responses, when streamed from the backend to bud, cause bud to end the connection before the content is finished streaming.

curl returns `curl: (56) SSLRead() return error -9846`

I've setup a sample of the problem: https://github.com/joeybaker/bud-bug-demo

A further note: increasing the logs to a more detailed level _sometimes_ allows the request to complete.

[2014-07-10 08:36] #42 closed, assigned to nobody

[2014-07-13 02:02] joeybaker opened #43 "allow cli to accept a piped config file"
It would be great if we could pipe the contents of the config json to the cli instead of passing a file path. This would allow for dynamic configuration.

e.g. instead of

[code]

this would be great

[code]

[2014-09-15 23:06] indutny opened #46 "ticket key rotation"
Bud should be capable of synchronous tls ticket key rotation through external service. This should perhaps be done by polling an external service.

[2014-09-17 10:24] indutny opened #48 "IPC: support sending config and dependent files"
n/t

[2014-10-16 17:17] indutny opened #49 "config: support multi-key OCSP"
n/t

[2014-10-20 07:09] stefanfoulis opened #52 "Mention POODLE in the readme and the recommended setting to avoid it"

[2014-10-20 08:15] #52 closed, assigned to nobody

[2014-11-19 01:32] joeybaker opened #56 "handshake failures produce strange log output"
I've got Bud running in front of a CouchDb instance. Curling it like so:

[code]

results in the following bud log…

[code]

…and eventually, the following curl response:

[code]

Yet,

[code]

…works just fine.

I'm not 100% sure this is a bud error, so maybe this is a support request to explain the error message? :)

[2014-11-19 20:06] joeybaker opened #57 "npm install on linux (ubuntu) hangs"
The npm based install hangs forever after printing out:

[code]

Compiling from source works fine.

[2014-12-12 20:28] #56 closed, assigned to nobody

[2015-01-03 23:25] indutny commented on #43
Fixed.

[2015-01-03 23:25] #43 closed

[2015-01-23 17:56] istinspring commented on #57
same for ubuntu:14:04 docker container.

[2015-02-11 12:46] indutny commented on #57
@istinspring may I ask you to paste some `node-gyp` logs?

[2015-02-11 12:47] indutny commented on #57
@istinspring and what node.js/io.js version was you using?

[2015-03-12 05:14] arunoda opened #62 "Do we have proxy chain support?"
Let's say we are already behind a proxy(In my case Cloudflare) and it has added x-forwarded headers. In that case, does bud build a proxy chain for x-forwarded like this.

[code]

[2015-03-12 07:26] r--s commented on #62
It should be handled on lb level, as we are already adding x-forwareded-for, and it's being stripped of by apache rpaf module.

[2015-03-12 07:34] arunoda commented on #62
It can't handled by the LB level. Then LB thinks it gets  the request from bud not from the client.
I'm asking whether is BUD going to maintain a proxy chain in the `x-forwarded-for` or it will replace it with the existing `x-forwarded`.

This is because, something our nodes directly handles client requests and sometimes they get requests from a LB.

node-http-proxy does this well. But we don't wa

[2015-03-12 08:28] r--s commented on #62
I'm sorry, I've misstook project for different one. You are right.

[2015-03-12 11:44] indutny commented on #62
@arunoda I'm afraid bud we'll just add extra header line to the first request. So technically, first request will have proper proxy chain, but you'll need to prepend first address from the chain manually to the all further requests on the connection.

Please note that X-Forwarded-For feature does not parse http.

[2015-03-12 12:20] arunoda commented on #62
I see. So, it'll possible to have multiple actual clients connection behind a one BUD socket connection.
(May be that's okay, we can live with it)

We are building a kind of rate limiting system, needs client ip for part of it's logic.

[2015-03-12 13:31] indutny commented on #62
@arunoda not just Bud, this is quite normal for HTTP: one TCP socket - multiple requests. Anyway, this should be easy to handle in io.js/node.js.

Assuming resolved?

[2015-03-12 13:37] arunoda commented on #62
Yeah got it. We can mark it as resolved.

Thanks.

[2015-03-12 13:37] #62 closed

[2015-03-12 13:38] indutny commented on #62
Thank you!

[2015-04-01 11:08] databeille opened #63 "Error code when cyaSSL tries to connect to bud"
When using cyaSSL (https://github.com/cyassl/cyassl) as a client, I get an error code returned, saying "INCOMPLETE_DATA".
Any way, bud-tls works as expected. It is the first time I encounter such a problem.

* Step to reproduce :

<pre>git clone https://github.com/cyassl/cyassl.git
cd cyassl
./configure --enable-debug --disable-shared
make test
### Test against a bud-tls server
./examples/client/c

[2015-04-01 11:22] databeille commented on #63
Server side log :
<pre>(dbg) [2551] received handle on ipc
(dbg) [2551] client 0x23835d0 on backend connecting to 127.0.0.1:81
(dbg) [2551] client 0x23835d0 on frontend new
(dbg) [2551] client 0x23835d0 on frontend after read_cb() => 74
(dbg) [2551] client 0x23835d0 on frontend SSL_read() => -1
(dbg) [2551] client 0x23835d0 on frontend uv_write(5240) iovcnt: 1
(dbg) [2551] client 0x23835d0 on fron

[2015-04-01 14:35] indutny commented on #63
@databeille it seems that CyaSSL doesn't like something about ServerHello packet that OpenSSL sends. Will look into it.

Could you please help me by providing some instructions on how to build cyassl and reproduce the problem?

[2015-04-01 14:47] databeille commented on #63
@indutny, I used stud (https://github.com/bumptech/stud) before switching to bud-tls. It seems to me stud is built with openSSL libs. The -weird- fact is cyaSSL works with stud.

To build cyaSSL and have some tools for testing, you could refer to my first post ("Steps to reproduce").

Let me know if you need special instructions for a particular system (I can testbuild on [Fedora 20|Centos 6.6] x8

[2015-04-01 15:10] indutny commented on #63
Oh gosh, sorry! I missed `Steps to reproduce`

[2015-04-02 13:54] indutny commented on #63
@databeille may I ask you to paste your bud configuration? I'm failing to reproduce this locally...

[2015-04-02 14:08] databeille commented on #63
Sure !
<pre>{
  "workers": 3,
  "restart_timeout": 250,
  "log": {
    "level": "debug",
    "facility": "user",
    "stdio": true,
    "syslog": true
  },
  "availability": {
    "max_retries": 5,
    "retry_interval": 250,
    "death_timeout": 1000,
    "revive_interval": 2500
  },
  "frontend": {
    "port": 443,
    "host": "0.0.0.0",
    "keepalive": 600,
    "proxyline": false,
    "security

[2015-05-30 08:25] odeke-em commented on #12
Ping!

[2015-05-31 16:29] indutny commented on #49
Fixed.

[2015-05-31 16:29] #49 closed

[2015-05-31 16:29] indutny commented on #48
I think it is done now.

[2015-05-31 16:29] #48 closed

[2015-05-31 17:49] odeke-em commented on #48
:+1: good stuff.

[2015-06-07 06:29] odeke-em commented on #57
Ping!

[2015-06-07 07:51] istinspring commented on #57
sorry =) i got mac, but as far as i remember node.js 0.12

[2015-06-10 09:23] indutny opened #65 "Send x-forwarded for http2"
n/t

[2015-06-10 09:23] #46 closed

[2015-06-21 00:38] phillipp opened #67 "Bud binds after dropping privileges"
Hi,
thanks for your great work!

I have noticed that if I run bud with privilege dropping enabled that it appears to bind *after* dropping privileges. So it is not possible to use bud on port 443 without running as root, but that's IMHO not acceptable for a public facing server.

I thought that it would be possible to bind to 1443 and forward the packets with iptables, but that sounds like a crazy

[2015-06-21 01:03] indutny commented on #67
Oh, this is a terrible mistake of mine. Will look into it unless you want to fix it yourself ;) Thank you for reporting!

[2015-06-21 01:05] phillipp commented on #67
Ah, great to know that I didn't do something stupid ;-)

I fear that I have not enough understanding of the code to make the change, I looked around quite a bit but I couldn't find where to start.

[2015-06-21 07:43] phillipp commented on #67
Ah, that was easier than expected, I was just blind before.

[2015-07-01 20:24] Gowiem commented on #67
@indutny I am experiencing this issue as well (same logs @phillipp) when running as a normal non-sudoer user. I am using version 1.2.3 installed via NPM that should have the fix from PR #68. Is there anything that I can do to debug this further?

Also, don't know if this is relevant, but when running *with* sudo I am experiencing the following (which I'm at a loss to debug as well):
[code]

Any su

[2015-07-01 20:28] phillipp commented on #67
Frankly I don't get‎ it. You are running bud as a unprivileged user and you want to bind on a port that need privileges to bind to? How do you think would this work?

Von: Matt Gowie
Gesendet: Mittwoch, 1. Juli 2015 22:24
An: indutny/bud
Antwort an: indutny/bud
Cc: Phillipp Röll
Betreff: Re: [bud] Bud binds after dropping privileges (#67)

@indutny<https://github.com/indutny> I am experiencing thi

[2015-07-01 20:29] indutny commented on #67
@Gowiem it can't really work on low ports without sudo. What @phillipp was reporting is that it was incorrectly dropping privileges before listening on the low port.

Regarding your log, it does look like the client (i.e. browser or whatever) drops the connection right after receiving the reply from the bud. What happens when you'll do `openssl s_client -connect 127.0.0.1:443` ?

[2015-07-01 20:55] Gowiem commented on #67
@phillipp I honestly didn't know about needing privileges to bind to certain ports. I talked with a co-worker and went ahead and ran `sudo setcap 'cap_net_bind_service=+ep' /usr/lib/node_modules/bud-tls/out/Release/bud` which fixed my issue of running without sudo.

@indutny I've run the command you mentioned and here is the output:
[code]

I'm on OpenSSL version: OpenSSL 1.0.1k-fips 8 Jan 2015. I

[2015-07-01 21:00] indutny commented on #67
This error message is pretty surprising... Does `openssl s_client -connect google.com:443` fail too? I wonder if you might be hitting `ulimit -n`, or something like this.

[2015-07-01 21:12] Gowiem commented on #67
`openssl s_client -connect google.com:443` looks like it is working as expected.

Also, running `ulimit -n` returned 32768.

[2015-07-01 21:13] indutny commented on #67
@Gowiem very interesting! May I ask you to paste results of `openssl s_client -connect 127.0.0.1:443 -debug -msg`?

[2015-07-01 21:16] Gowiem commented on #67
@indutny Unfortunately it is the same... :disappointed:
[code]

[2015-07-01 21:18] indutny commented on #67
@Gowiem oh, perhaps you are no IPv6 only machine. What about `localhost` instead of `127.0.0.1`?

[2015-07-01 21:19] Gowiem commented on #67
The same...
[code]

[2015-07-01 21:19] indutny commented on #67
@Gowiem do you have loopback interface in `ifconfig -a`?

[2015-07-01 21:20] Gowiem commented on #67
@indutny Yes.
[code]

[2015-07-01 21:21] indutny commented on #67
wtf :) `strace openssl s_client -connect 127.0.0.1:443`?

[2015-07-01 21:23] Gowiem commented on #67
[code]

Also, you're being super cool with helping out like this, thanks man! :clap:

[2015-07-01 21:24] indutny commented on #67
No problem, it looks like it can't connect to bud. Is it running in background?

[2015-07-01 21:28] Gowiem commented on #67
@indutny Yes. I am using [angel](https://github.com/MichaelXavier/Angel) with the following config:
[code]

[2015-07-01 21:33] indutny commented on #67
Wtf, what about `netstat -an | grep 443`?

[2015-07-01 21:33] Gowiem commented on #67
@indutny
[code]

[2015-07-01 21:34] indutny commented on #67
Ok, I would suggest doing `openssl s_client -connect 10.178.35.67:443` then ;)

[2015-07-01 21:36] Gowiem commented on #67
@indutny And that worked! What happened there exactly if you don't mind me asking?

[2015-07-01 21:37] indutny commented on #67
I think it is listening on some unobvious interface :) Not sure why. So it worked fine? What about `curl -k https://10.178.35.67:443`?

[2015-07-01 21:40] Gowiem commented on #67
Yeah, changing to the IP address > loopback worked fine.
Here is the curl result:
[code]

[2015-07-01 21:42] indutny commented on #67
Ooooh, may I ask you to share your bud config? It looks like it is requesting the client certificate.

[2015-07-01 21:48] Gowiem commented on #67
I've just messed with it a bit in the past couple minutes (still not working). But TBH it might have things that totally incorrect, because obviously linux administration, cryptography, and spinning up backend services are not my area of expertise :sweat_smile:
[code]

[2015-07-01 21:49] indutny commented on #67
Hm... did you put `request_cert: true` in the config? Or is it the default one? I'm quite sure this is the reason of initial failure that you reported.

[2015-07-01 21:51] Gowiem commented on #67
@indutny Ugh I guess I must have changed it for some reason... I don't know exactly why I did that, I've been at this for the majority of my day. I'll switch that back to false.

[2015-07-01 21:54] Gowiem commented on #67
Changing that back to false and my logs are a bit different now...
[code]

[2015-07-01 22:01] indutny commented on #67
How do you request this one? With the browser? Does `curl` work now?

[2015-07-02 14:59] Gowiem commented on #67
@indutny The request that fails is from an iPhone secure WebSocket connection (`wss://`) on iOS9. I need to upgrade from an old version of stud to bud because iOS9 requires the newer ECDH, which our version of stud didn't support.

Anyway, curl does work now. It returns a 404 from our Jetty server because it's not a HTTP server, but it does get through:
[code]

Here is the bud log for that same re

[2015-07-02 15:02] Gowiem commented on #67
Also, hitting my EC2 instance's public IP address from my browser gives me this.
![screen shot 2015-07-02 at 11 02 16 am](https://cloud.githubusercontent.com/assets/1392040/8480105/dca763da-20a9-11e5-934f-395d3bb9634c.png)

[2015-07-02 18:18] indutny commented on #67
Well, the certificate hostname does not much actual hostname. This is kind of expected error.

[2015-07-02 18:43] Gowiem commented on #67
@indutny :expressionless: Haha I should've realized that. I was trying to debug bud before putting it live on one of my companies Elastic IP's, but spinning up a test one under our domain made everything work. Not sure how you gathered that fact from what I gave you, but I much appreciate all the help. Thanks again man!

[2015-07-02 18:46] indutny commented on #67
No problem, ping me if anything else will pop up ;)

[2015-07-02 18:46] #67 closed

[2015-07-07 20:38] swaj opened #70 "OpenSSL Engine Support"
It would be awesome if bud supported changing the OpenSSL engine at runtime.  For example, we currently utilize a hardware security module which implements an SSL engine so that keys are stored in hardware, but can be utilized by any program which uses OpenSSL (and allows for the engine to be set).  Would it be possible to add another configuration item for bud?

[2015-07-07 21:45] indutny commented on #70
Absolutely! I'll put this in my todo list.

Thanks for asking!

[2015-07-12 18:14] indutny commented on #70
@swaj may I ask you to give a try to https://github.com/indutny/bud/pull/71 ? It is pretty hard to test those OpenSSL engines without having `.so` file and actual engine, so I would really appreciate your feedback ;)

[2015-07-13 12:49] swaj commented on #70
Sure. I'll test this when I get to work. Thanks!

[2015-07-15 16:49] phillipp opened #72 "bud on multiple boxes"
We're going to deploy bud on multiple boxes in different DCs for DNS round-robin failover.

In the docs is a hint that ticket rotation will be a problem in this case (if I understand correctly). What is the setup for synchronized ticket rotation?

And: will there be any other problems?

[2015-07-15 17:45] phillipp opened #73 "Bud sends no X-Forwarded-For for a portion of the Chrome requests"
We have a working bud setup now but we are seeing some connections where the first requests don't have an X-Forwarded-For header.

This very rare but breaks quite a lot of stuff when it happens.

Setup is a "normal" bud setup on 1.2.4 and a nginx-lua backend that reads and sets the X-Forwarded-For header into a SHM dictionary on the first request. To make sure we don't miss the first request we ad

[2015-07-15 22:27] indutny commented on #73
Are you using single backend, or multiple ones? Are the backends loaded asynchronously using SNI?

[2015-07-15 23:43] thomasba commented on #73
There is only one backend (a nginx server, so bud only handles the ssl stuff). The configuration:

[code]

[2015-07-16 03:02] indutny commented on #72
@phillipp yeah, the way it works right now is following:

1. master spawns workers
2. after some time master sends new ticket key to the workers using IPC

The way it should work on multi-box deployment is following:

1. Something should spawn masters and connect to their ipc channels (using `"master_ipc": true`)
2. Periodically send the same key to all masters in cluster

The problem is that ther

[2015-07-16 03:03] indutny commented on #72
Guess, I can amend the node.js wrapper of bud, and make it expose this key rotation APIs using plain HTTP. But someone will need to start them, and to coordinate ticket rotation between multiple servers.

Does it make sense?

[2015-07-16 03:04] indutny commented on #73
@phillipp may I ask you to try running bud a in with debug logging, and paste some results as a gist?

[2015-07-16 03:05] indutny commented on #73
Mostly interested in the results at the moment of missing x-forwarded header.

[2015-07-16 06:55] phillipp commented on #73
We tried some more (hitting F5 a lot) and could reproduce the same behaviour with Firefox, but not with Internet Explorer. Same with curl, could not reproduce it (maybe until now). I have a loop trying with curl over and over running for a while now, but the result looks always good.

Debug output of a request (hit enter in the stdout as a "mark" and F5 in the browser until behaviour shows up) lis

[2015-07-16 07:24] phillipp commented on #73
Okay, this may sound crazy but: could this be a result of a race condition in checking which request is the first one of a connection? I think this *could* be the case because:

- I can't reproduce this on LAN, only on WAN (>40ms ping)
- The more assets are loaded on the page, the higher the problem rate

[2015-07-16 14:46] krtschmr commented on #73
i can confirm the bug @phillipp reported. tested together with him and ran into same problems

[2015-07-16 18:03] indutny commented on #73
@phillipp this is very interesting idea! If there is nothing secret happening on the machine - may I ask you to run a `tcpdump -w dump.pcap` on it, and send me the results? It should be pretty straightforward to confirm or disprove this theory.

[2015-07-16 20:03] phillipp commented on #73
There is a lot of customer traffic running on this machine but we can tcpdump only the relevant ip/port combination. Would you need the backend traffic, too? Or just the frontend traffic?

[2015-07-16 20:05] indutny commented on #73
Actually, just a backend traffic at the time of failure. Thanks!

[2015-08-03 15:18] phillipp opened #74 "glibc: corrupted double-linked list"
In one of your deployments we saw that all SSL websites stopped working. Attempts to connect failed:

[code]

The bud log showed the following output:

[code]

Kernel ring buffer/dmesg:

[code]

A rebstart of bud solved the problem. What do you need to dig further into the problem?

[2015-08-03 17:55] indutny commented on #74
@phillipp thanks for reporting this!

Do you have a core dump of this crash?

[2015-08-03 19:50] phillipp commented on #74
Unfortunately not. What would be the best way to setup this up for the next time?

[2015-08-03 19:52] odeke-em commented on #74
@phillipp if it is possible, would you mind giving the config or a redacted config. I just would like to be able to reproduce this.

[2015-08-03 19:56] indutny commented on #74
@phillipp I would do something like http://askubuntu.com/questions/53956/how-can-i-enable-core-dump . Please be aware that it will create large files per each crashing process. If you don't have much of them - it should not be a big deal, though.

[2015-08-03 20:09] phillipp commented on #74
The config is:
[code]

[2015-08-03 20:26] phillipp commented on #73
Sorry, it took a bit longer to generate the file: https://storage.googleapis.com/trafficplexgmbh/bud-out.cap

I captured the background traffic from bud. In the last ~8 requests there should be two requests on a new connection without a X-Forwarded-For header.

You can finde the X-Forwarded-For header in the PHP info-Output at REMOTE_ADDR in the "Apache 2" section.

[2015-08-03 20:35] indutny commented on #73
@phillipp from the cap output that you sent me - it looks like the first request on every TCP connection to backend has the X-Forwarded-For header. Subsequent requests on the same connection do not have it, but this is how it works in bud.

Am I missing something?

[2015-08-03 20:38] phillipp commented on #73
I only wee what nginx is giving me: new connection ID, no header. Maybe that's a bug in nginx?

[2015-08-03 20:39] indutny commented on #73
@phillipp certainly something about either nginx or lua backend that you are using.

[2015-08-03 20:55] phillipp commented on #73
Ugh, that's strange. Sorry to waste your time!

[2015-08-03 21:06] indutny commented on #73
No worries, @phillipp . I'm sad that I can't help much with it

[2015-08-04 18:58] phillipp commented on #73
We added some debug stuff to nginx and came up with the following theory:

a) Nginx buffers all incoming requests and only starts processing the request if it is fully received. That is expected behaviour.
b) The connection ID is set on the `accept` event.
c) When the full request is read, the requests counter of the connection is increased (starting with 1 for the first request).
d) The X-Forward

[2015-08-04 19:05] indutny commented on #73
@phillipp hm... I did consider that previously, but it would imply double-http parsing and code complexity in bud.

Is there any chance you could just use `proxyline` and parse it using some lua pluging in nginx before accepting *any* requests?

[2015-08-04 20:08] phillipp commented on #73
Ha, that lead to the right module. I've added an example config to the docs: https://github.com/indutny/bud/pull/75

[2015-08-04 20:08] #73 closed

[2015-09-21 23:31] indutny commented on #70
@swaj did you get a chance to try it out?

[2015-09-22 15:48] phillipp opened #76 "Connection reset by peer"
Hi,
we have bud in production for quite some time now and we're pretty happy with it (still waiting for a core dump on #74).

There is one customer who complains about regular "Connection reset by peer" errors. We were unable to reproduce that with our monitoring, but our monitoring is not a demanding as a browser.

I'm pretty clueless how we could best debug this. There are quite some -104 errors

[2015-09-22 15:58] indutny commented on #76
@phillipp thanks for posting this! Do you have any other sample logs like the one at the bottom of this issue? Having additional info may help a lot!

[2015-09-22 16:56] phillipp commented on #76
Sure, here we go:

[code]

[code]

This one has two frontend connections, just in case this is relevant
[code]

I was noticing just now that the after_read_cb gives the -104 sometimes on the backend and sometimes on the frontend.

For our log since this morning thats 832 -104 on the frontend and 154 on the backend (I would expect that the frontend has way more errors).

Do you need more info? In t

[2015-09-22 17:02] indutny commented on #76
Thank you @phillipp. I'll look into this.

[2015-09-22 17:21] indutny commented on #76
@phillipp do you happen to see anything like this in nginx logs?

[code]

Have you tried enabling debug-level logging on nginx? (http://nginx.org/en/docs/debugging_log.html)

[2015-09-22 17:36] phillipp commented on #76
I havent seen any PROXY related error messages in the error log. But we actually applied a patch to fix an nginx problem with the proxyline support, but I'll have to look that up.

nginx debug log is now enabled. I'll post more information on backend connection resets when we have it in both logs.

Here we have another one (the customer complained about this specified request, it's on the frontend

[2015-09-22 17:38] indutny commented on #76
@phillipp yeah, frontend-side is definitely unrelated to proxyline.

Do you think it may be possible to obtain `strace -p <pid>` output during this failure? I just want to recheck what actually happens on the system level.

[2015-09-22 17:44] phillipp commented on #76
I have a error log of the nginx-side of a connection reset on the backend now. I fear that is have to heavily redact the log, but everything before the pasted lines seems to be internal processing anyways:

[code]

[2015-09-24 05:09] indutny commented on #76
@phillipp sorry, but so far nothing rings the bell... Perhaps, it may be a good idea to take a look at the tcpdumps yourself, to see what kind of data is exchanged by the sides right before this error. Maybe there is some corrupted memory, or something unrelated to bud at all!

I could only say that this error is usually not a bud's fault, and means that the other side killed the connection.

Very

[2015-09-24 08:18] databeille commented on #76
I am not as good as you two are, but it seems quite similar to my problem: https://github.com/indutny/bud/issues/63

[2015-09-24 09:12] phillipp commented on #74
We saw this error message again and despite bud is running with the ulimit here was no core dump taken. Will there really be taken a core dump on this error? bud is not crashing, just showing the message and behaving incorrectly after.

[2015-09-24 10:34] phillipp commented on #76
I go out on a limb here but memory corruption seems unlikely because this of course is server hardware wiith ECC scrubbing and occurs on multiple hardware machines.

I now got lucky and intercepted a connection between bud and nginx with connection reset.

nginx debug log is as follows:
[code]

I can't export the wireshark trace of it for privacy reasons, but summary looks like this:

![image](htt

[2015-09-24 16:20] indutny commented on #76
@phillipp is there anything odd in wireshark? Invalid HTTP request maybe?

[2015-09-24 16:21] indutny commented on #76
@phillipp stupid question, but could you be running out of memory on this box?

[2015-09-24 16:27] indutny commented on #76
@phillipp if you have access to the HTTP request data - may I ask you to post a proxystring from it (you may redact address in it, but please make the size the same).

[2015-09-24 16:28] indutny commented on #76
@phillipp do you see anything like `broken header` in nginx **error** log?

[2015-09-24 16:31] indutny commented on #76
It is just pretty odd that it doesn't print `http process request line` in debug log. Here is the relevant part of nginx source:

https://github.com/nginx/nginx/blob/7c2e7816cb1364176ca4b06954f617eb6dd28652/src/http/ngx_http_request.c#L373-L500

It reads the data from socket, tries to parse PROXY line, and then goes straight into `ngx_http_process_request_line` which should print it. So it looks l

[2015-09-25 15:16] phillipp commented on #76
Nope, wireshark has just the HTTP request and that direct ACK and then ACK, RST.

nginx error logs shows exactly nothing. The server is not out of memory. And there is no tcp port reuse warning in wireshark either.

The http request does not have any PROXYLINE, it's just a plain http request. That may the problem, we nginx doesn't complain because we patched that error message out, so we would see

[2015-09-25 15:19] phillipp commented on #76
nginx is openresty/1.7.10.1

[code]

[2015-09-25 15:23] phillipp commented on #76
Yeah, right, we changed the `invalid` section of the `ngx_proxy_protocol_parse` function in `ngx_proxy_protocol.c` like this:

[code]

Then the error is only logged if the header is missing and no IP address is set from previous requests.

[2015-09-25 15:26] phillipp commented on #76
Ugh, that explains why the connection is closed. That returns NULL and NULL leads to a closed connection :scream:

I'll fix that and see if that resolved the problem.

[2015-09-25 16:31] phillipp commented on #76
With the patched/fixed nginx we still see the problem, I'll try to get more debug info why that's the case.

[2015-09-30 23:07] indutny commented on #74
@phillipp is it always preceded by that JSON warning? Do you have multiple logs for this?

[2015-09-30 23:07] indutny commented on #76
@phillipp may I still ask you to post a PROXYLINE from that failed request?

[2015-09-30 23:38] phillipp commented on #76
I can't, because there is none in the whole TCP connection.

[2015-09-30 23:45] indutny commented on #76
@phillipp oh sorry! Looks like I forgot the context when replying to this issue (switching between several projects atm). May I ask you to publish the HEX data of first TCP packet's body?

[2015-10-01 14:21] phillipp commented on #74
Today we had another one. bud continues to run, as before.

[code]

Core dumps are enabled and apport is running, but didn't save a report. So I'm thinking this is just a glibc warning/error. The core may not be dumped because the program is not crashing.

SO answers suggest that there is a race condition where multiple callers free an object at the same time.

[2015-10-01 18:53] indutny commented on #74
@phillipp the problem is that I don't use threads in bud at all. I have one idea that might be worth exploring.

Let's try building bud with Address Sanitizer. I have just pushed 1c45275 to the master branch. Please give a try to it:

[code]

[2015-10-01 18:53] indutny commented on #74
Ideally I expect it to give us more information on where this error is happening.

[2015-10-01 18:53] indutny commented on #74
Thanks!

[2015-10-01 18:56] odeke-em commented on #74
Ooh this is so cool, I am acquainted with one or two of the Address Sanitizer authors so can't wait to see the results of using it.

[2015-10-22 16:24] phillipp commented on #76
Looks like our nginx problem solved the main issue, but there is still an open issue. We see regular requests from bud that are mangled in a strange way, like this:

[code]

So you can see there is some stuff injected into the Cookie header. We see that around 2.000 times per day and from random clients, even from monitoring requests. The nginx server then closed the connection, which leads to the

[2015-10-22 16:25] indutny commented on #76
@phillipp this sounds like a good plan. I hope ASAN will give us more information. Thanks for the follow-up!

[2015-10-22 16:55] phillipp commented on #76
Starting bud with ASAN makes it hang. strace shows the following:

[code]

Compiled with `gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04)`

[2015-10-22 17:51] indutny commented on #76
@phillipp does debug log print anything at all?

[2015-10-22 17:52] phillipp commented on #76
Nope, nothing. CPU is stuck @ ~ 100%.

[2015-10-22 17:56] indutny commented on #76
@phillipp very interesting...  May I ask you to try `perf` on it ? (http://baptiste-wicht.com/posts/2011/07/profile-applications-linux-perf-tools.html)

[2015-10-22 18:35] phillipp commented on #76
Very strange. I tried bud with ASAN on two machines and on both it generates a lot of bud <defunct> processes and basically kills the system by forking.

What works is starting a new docker container (based on ubuntu:trusty tag), compiling and running.

Perf on the forking version shows 26k cycles and 0 events.

Does that help?

[2015-10-22 19:46] phillipp commented on #76
Strange. The version compiled in the container works great on the host. Maybe there are some libs that are messed up (I get lots of compile errors on precise with gcc 4.8), despite one of the systems where its not working is just fresh installed.... Anyways, it's working with ASAN and I'm looking forward to finding some memory corruption and squash this ugly bug ;-)

[2015-10-22 19:46] indutny commented on #76
Hooray!

[2015-10-22 19:55] phillipp commented on #76
Is there an easy way to dump the first ~100-200 bytes of each request to stdout? What/where would that be?

[2015-10-22 21:15] indutny commented on #76
@phillipp no trivial way of doing it, sorry.

[2015-10-29 18:01] phillipp commented on #76
So today a worker died with SEGFAULT but there is absolutely no output from address sanitizer (on stdout). Do I miss something? Bud is unstable since the crash, restart fixes the problem.

[2015-10-29 19:30] indutny commented on #76
@phillipp do you have core dump? It can't really SEGFAULT without generating core.

[2015-10-29 21:02] phillipp commented on #76
Yes, I have a core dump. gdb says:

[code]

What more do you need? core dump is ~700 megs. Do you need it?

[2015-10-30 21:49] phillipp commented on #76
I already killed multiple machines in test and prod with this, I'm doing something wrong:

When I install bud with npm (npm install -g bud-tls) everything works fine.

When I check the repository out, run gyp_bud and then make and start that binary, it kills the complete machine (unless you're really fast, like sub-second fast, with killall -9 bud) with that fork-bomb I posted above.

What differe

[2015-10-30 21:50] phillipp commented on #76
I already killed multiple machines in test and prod with this, I'm doing something wrong:

When I install bud with npm (npm install -g bud-tls) everything works fine.

When I check the repository out, run gyp_bud and then make and start that binary, it kills the complete machine (unless you're really fast, like sub-second fast, with killall -9 bud) with that fork-bomb I posted above.

What differe

[2015-10-31 01:44] indutny commented on #76
@phillipp I think you forgot to post the information about the fork-bomb.

There is no significant difference between `./gyp_bud && make -C out/` and `npm install`, except how the binaries are linked.

[2015-10-31 03:48] phillipp commented on #76
And what exactly is the difference?

[2015-10-31 03:50] indutny commented on #76
It is built using `node-gyp`, and then symlinks binary to the `bin` folder.

[2015-10-31 16:46] phillipp commented on #76
Alright, got that running now, with ASAN and some more debug output. I added a log of the buffer after SSL_read at client.c ~ L630 so I can see the buffer after it read from the connection.

I noticed that there are requests that don't get a PROXYLINE and now I can see the content in bud:

[code]

Notice that there are to ^M (carriage returns). Possible the x-forward.c doesn't handle injection of

[2015-10-31 17:53] indutny commented on #76
Oh gosh! Yeah, this is quite unexpected. I guess I will just add support for this, thank you for figuring it out @phillipp !

[2015-10-31 18:36] indutny commented on #76
@phillipp thinking more about, I don't think that much servers accept two CRs as CRLF. Just tried it on google, and node.js, and it doesn't seem to be working at all. I will definitely make x-forward thing less strict, by just looking at following sequence `\r*\n` (regexp), but omitting `\n` seems to be a bad idea.

[2015-10-31 18:41] indutny commented on #76
@phillipp you may use this snippet to log data that is being written to backend:

[code]

[2015-10-31 19:05] indutny commented on #76
Actually even `\r*\n` is too weak to be published. I'll do `\r?\n`.

[2015-10-31 19:32] indutny commented on #76
Ok, pushed out the fix for x-forwarded-for. Unfortunately, it won't help your case, though.

[2015-11-01 17:19] phillipp commented on #76
I have found a fix for the garbled requests but I couldn't figure out WHY the fix works exactly.

I figured out now that the bud_client_send sends more data than the client_read:

(dbg) [2331] client 0xd92230 on frontend SSL_read() => 518
(dbg) [2331] client 0xd92230 on backend uv_write(570) iovcnt: 1

Which is okay, because the PROXYLINE should be prepended. *SHOULD* is important, because nginx c

[2015-11-01 17:21] phillipp commented on #76
BTW: looks like that only happens when the SSL handshake fires an SNI request.

[2015-11-01 17:24] indutny commented on #76
Very interesting! I will review the ringbuffer code, thanks for the tip and thorough investigation!

[2015-11-01 17:27] indutny commented on #76
@phillipp while I look into it - may I ask you to give a try to this patch?

[code]

[2015-11-01 17:30] indutny commented on #76
Gosh, disregard this patch. The fix is:

[code]

Please let me know if it works for you.

[2015-11-01 17:45] phillipp commented on #76
No, I fear that doesn't fix the problem. Still the same symptoms, like the ring buffers current read position is off by the size of the proxyline.

[2015-11-01 17:48] phillipp commented on #76
If that's helps: the code path is that the `bud_client_prepend_proxyline` is called from `fatal` block in `bud_client_handshake_done_cb`.

[2015-11-01 17:51] phillipp commented on #76
Oh, never mind. that's not the case.

[2015-11-01 17:54] indutny commented on #76
@phillipp thanks, looking further

[2015-11-01 18:02] indutny commented on #76
@phillipp are you using sni-based backend selection?

[2015-11-01 18:08] indutny commented on #76
@phillipp what about this patch?

[code]

[2015-11-01 18:48] phillipp commented on #76
I have a clue about that's going on. The ringbuffer is accessed concurrently:

I added some log statements in the client.c and this is my output for a failed request:

[code]

So:
1. the bud_client_backend_out retreives the write pointer
2. the function is then preempted on calling SSL_read()
3. PROXYLINE is injected ointo the buffer - at write position 0 because the buffer is empty right now
4. t

[2015-11-01 18:49] indutny commented on #76
Aaargh. You're so right about it, I'll create a fix in a bit.

[2015-11-01 19:25] #76 closed

[2015-11-01 19:26] indutny commented on #76
@phillipp I have pushed both fixes to master, may I ask you to give them a try before I will release?

[2015-11-01 19:30] phillipp commented on #76
Great, could not reproduce the problem with your master :-)

[2015-11-01 19:32] indutny commented on #76
Ok, published as 1.3.5 . Thank you so much! You nailed most of the problem!

[2015-11-01 19:32] indutny commented on #76
I mean, all of it :)

[2015-11-01 19:33] indutny commented on #76
What's your twitter handle?

[2015-11-01 19:38] phillipp commented on #76
Great, thanks for the fast reponse and great software!

And I thought I was going crazy because nobody else reported the problem. My twitter handle is: https://twitter.com/phillipp

[2015-11-01 19:40] indutny commented on #76
Thank you!

[2015-11-04 23:36] phillipp opened #78 "bud leaks file descriptiors (heavily)"
So a few hours ago we got the first symptoms of a new problem where clients can't connect to bud anymore. The debug output from cul looks like this:

[code]

Bud debug output says:

[code]

Other workers seem to work normally. Over time more and more of the workers start to do the same.

So I was thinking that some problem occurred in the requests before and left the worker in a bad state, and fou

[2015-11-04 23:48] phillipp commented on #78
I have added some more debug output from my previous "investigation" and found that all connections that lead to the log lines in the last example (the very show connections that do nothing and abort) are from the networks of a single entity. We rejected all traffic from their nets and the file descriptors are no longer increasing.

So there seems to be an easily exploitable DoS attack vector, reg

[2015-11-05 00:35] indutny commented on #78
@phillipp have you tried lowering `frontend.keepalive`?

[2015-11-05 00:39] indutny commented on #78
@phillipp I think I know what's happening. Will fix it in a bit, not sure how I missed it.

[2015-11-05 00:41] indutny commented on #78
@phillipp may I ask you to give a try to this patch?

[code]

[2015-11-05 00:43] indutny commented on #78
Hm... actually, this seems to be too agressive.

[2015-11-05 00:55] indutny commented on #78
@phillipp how about this?

[code]

[2015-11-09 04:17] #78 closed

[2015-11-12 20:25] phillipp commented on #78
Great, we've deployed the new version and will see if the problem pops up again.

[2015-11-12 20:28] indutny commented on #78
Thanks!

[2015-12-08 16:55] databeille opened #79 "Too many prepend proxyline calls"
Good day,

I added a new cert to my server today. When testing with ssllabs.com, bud dies returning:

(dbg) [7222] client 0x2146490 on backend write_cb => 196
(dbg) [7222] client 0x2146490 on frontend SSL_read() => -1
(dbg) [7222] client 0x2146490 on frontend recycle
(dbg) [7222] client 0x2146490 on frontend SSL_read() => -1
(dbg) [7222] client 0x2146490 on frontend after read_cb() => 541
(dbg) [7

[2015-12-08 16:56] databeille commented on #79
It passes with <pre>  "workers": 4,</pre> but I believe it is just a matter of time.

[2015-12-13 23:45] strarsis opened #80 "Dockerize"
It would be nice if this could be provided as docker conatiner
(Dockerfile, build + upload as official image to Dockerhub).

With best regards

[2015-12-13 23:52] odeke-em commented on #80
I think @joeybaker already did so with https://github.com/joeybaker/docker-bud-tls

[2015-12-14 00:52] joeybaker commented on #80
Yup!

[2015-12-14 01:34] indutny commented on #80
Thank you!

[2015-12-14 01:34] #80 closed

[2015-12-21 05:21] indutny commented on #79
Thank you so much for reporting this. I'm working on a fix and should publish it soon!

[2015-12-21 05:26] indutny commented on #79
@databeille may I ask you to give a try to the following patch?

[code]

I'm going to work on test for this, and feedback will be more than welcome!

[2015-12-21 05:41] #79 closed

[2015-12-21 05:41] indutny commented on #79
The fix has been landed, but nevertheless I would like to ask you to confirm that it is working for you. Thanks!

[2015-12-21 13:48] databeille commented on #79
Fix applied, it works well :)
Thanks.

[2015-12-21 19:14] indutny commented on #79
Thank you for using it! ;)

[2016-03-08 00:29] alex-shpilkin opened #81 "Compatibility with Python3-by-default"
Systems with `python` linked to `python3` instead of `python2` (see [PEP 0394](https://www.python.org/dev/peps/pep-0394/)) require the shebang line of `gyp_bud` to be changed from `/usr/bin/env python` to `/usr/bin/env python2`.

<sup>Yes, this is a one-character change, which is why I didn’t create a PR for it.</sup>

[2016-03-15 20:05] indutny commented on #81
Thanks for opening this!

Honestly saying, I don't know if I would like to change it at this time. It appears to me that many major projects are using `python` without any problems now. (Including [node][0])

Is it causing problems for you, or is it just a hypothetical case?

[0]: https://github.com/nodejs/node/blob/master/configure#L1

[2016-03-16 01:06] alex-shpilkin commented on #81
I’m on Arch Linux, which is a rolling-release distribution and [links `python` to `python3`](https://wiki.archlinux.org/index.php/Python#Dealing_with_version_problem_in_build_scripts). Apparently, even the PEP is motivated by its example. Although, well, node itself using `python` is a valid rebuttal. (See how Arch [handles it for node](https://projects.archlinux.org/svntogit/community.git/tree/tr

[2016-03-16 02:29] #81 closed

[2016-03-16 02:29] indutny commented on #81
Alright then! Should be fixed now :) Thank you! :+1:

[2016-03-23 02:26] wltsmrz opened #82 "`bud` is now available on npm"
https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c#.915w61wn8

[2016-03-23 02:27] indutny commented on #82
Ahaha!

[2016-03-23 09:26] tejasmanohar commented on #82
hahaha can't believe this is an issue :P

[2016-03-24 05:22] wltsmrz commented on #82
Just thought I'd let you know before someone else snags it, but apparently:

`This package name is not currently in use, but was formerly occupied by a popular package. To avoid malicious use, npm is hanging on to the package name, but loosely, and we\'ll probably give it to you if you want it.`

[2016-03-24 05:22] #82 closed

[2016-03-31 07:26] cstrahan opened #85 "Getting client cert's distinguished name"
Would it be possible to provide access to the distinguished name of the connected client's cert, perhaps via a header and/or the JSON proxyline? (If something like this is already support, it looks like I missed - sorry!)

[2016-03-31 07:29] cstrahan commented on #85
I suppose while we're at it, it might make sense to provide access to the other cert details too. Something like this might provide inspiration: https://raymii.org/s/tutorials/haproxy_client_side_ssl_certificates.html

[2016-03-31 15:22] indutny commented on #85
Have you seen `proxyline: json` option? I think it should send something like:

[code]

According to readme (and some digging into the source: https://github.com/indutny/bud/blob/1c452759492c52c49eacef4e155a12ebbb1bf37a/src/config.c#L1025-L1034

[2016-03-31 15:24] indutny commented on #85
So basically you also want to have `issuer`,`sha`,`dn`,`not-before`,and `not-after`? I don't think that we allow non-verified clients atm, so `verified` does not really make much sense.

[2016-04-27 21:55] cstrahan commented on #85
@indutny

Sorry, lost track of this issue.

Yes -- in my case, particularly the `dn`.

[2016-04-28 01:20] #85 closed

[2016-04-28 01:20] indutny commented on #85
Ok, let's start small! 😉 Added `dn`. Thank you for reporting it!

[2016-04-28 01:23] cstrahan commented on #85
Awesome - thanks a ton! :smile:

[2016-04-28 01:38] indutny opened #86 "Collecting data about bud usage"
Hello everyone!

Just wanted to let you know that I have created a wiki page, where I am trying to populate some data about companies/projects using bud. This is going to be used for two purposes:
- Informing about security releases
- Possibly convincing other people to use bud, by linking this page on the readme

If any of this sounds interesting - please add some info on [this wiki page](https:/

[2016-04-28 02:37] indutny commented on #86
cc @Acconut

[2016-04-28 20:48] joeybaker commented on #86
Sounds great. Added my name. Thanks @indutny!

[2016-04-29 07:13] indexzero commented on #86
This is awesome! I'll keep an eye out for it, but we're not using `bud` in production right now. I'd love to change that and these kinds of success stories are a great way to help do that 💯

[2016-04-29 16:57] phillipp commented on #86
I have added our company to the list and wrote a paragraph about our use case (and some praise for the project). I think the use case makes the reference more meaningful, but if it's too much I can shorten or remove it.

[2016-04-29 17:10] indutny commented on #86
@phillipp thank you, this is indeed very meaningful!

[2016-05-08 15:00] nkcmr opened #87 "daemon flag causes bud not to run at all"
trying to pass the `--daemon` flag to bud does nothing. i was expecting it to run, then detach itself from the current session and run in the background. after running:
[code]
it does not output anything and checking `ps aux | grep bud` doesn't yield any running bud daemon processes. and making requests to buds frontend port (443) fails with connection refused errors (indicating nothing is running

[2016-05-08 15:51] indutny commented on #87
Hello!

I have just pushed out bud@4.0.3 that should print configuration error messages when starting it `-d` mode. May I ask you to give it a try and let me know what it will tell you?

Thank you,
Fedor.

[2016-05-08 16:18] nkcmr commented on #87
thanks for the quick response @indutny
i rebuilt bud on my server and tried running with the daemon flag and this was returned:
[code]
a simple failure to open the config file. interesting. so i ran again, but this time I appended the full path
[code]
when i appended the full path, it worked as normal, and processes were launched in the background and everything worked as expected.

so, without th

[2016-05-08 16:20] indutny commented on #87
Thank you for checking it!

Please consider using google form if you'd like to be notified about security releases of bud: https://github.com/indutny/bud#security

[2016-05-08 16:20] #87 closed

[2016-07-05 19:24] phillipp commented on #65
Hey there,
has http2 support landed yet?

[2016-07-05 21:19] indutny commented on #65
Not really! Do you need it?

[2016-08-12 20:22] phillipp opened #90 "bud build "succeeds" but the binary is not valid"
I wanted to upgrade to a current bud version but failed to do so.

I tried with npm version 2.15.0 which gives me the following:

[code]

I tried upgrading NPM to a current version but the file that is built is not even an executable, I get the following when executing it:

[code]

I suppose this is not expected. Is there a stable upgrade path from 4.0.2 to 4.0.6?

[2016-08-13 06:52] indutny commented on #90
@phillipp The build process has been changed, please either run it as a non-root user or with `npm --unsafe-perm install -g bud`.

NOTE: It will also confirm GPG keys on install.

[2016-08-13 07:01] indutny commented on #90
@phillipp nah, it won't help. Sorry!

Looking into it.

To work it around, you may want to install v6 node.js (sorry, this is a requirement right now, please let me know if this is unacceptable for you):

[code]

[2016-08-13 07:09] indutny commented on #90
`npm install -g` should also work if you will install node using `nvm`. It seems that the build script fails when node is installed in `/usr/local/...`, and `nvm` installs it locally.

[2016-08-22 16:14] databeille commented on #90
Similar problem here.
Fixed it by updating node to v6.4 + npm install -g gypkg + updating git from git-1.7.1-4.el6_7.1.x86_64.rpm to git-1.7.12.4-1.el6.rfx.rpm ("branch --list" option was not recognized and made gypkg hang).

[2016-08-22 18:21] indutny commented on #90
@databeille yikes, sorry to make you go through all of this. I'll see if I can improve this experience!

[2016-08-22 18:37] databeille commented on #90
@indutny no worries, it is my coin to this beautiful software.

Also, I had to use "--unsafe-perm" to make the compilation successful.

[2016-08-25 10:55] indutny commented on #90
@databeille I'm no longer using `git tag --list` in the latest gypkg, so it should be working with older git versions too now.

[2016-09-03 13:21] phillipp commented on #90
I tried to update again to 4.0.6 and still can't compile out of the box. The build is failing with a problem with gypkg:

[code]

Wouldn't it make sense to include it as a dependency so the package is more self-contained? Otherwise it would be good to add gypkg to the installation instructions - I certanily had it not installed on the prod machine, I don't even know what it is...

[2016-09-03 17:13] indutny commented on #90
@phillipp I'm terribly sorry for this, will try to figure it out ASAP!

[2016-09-03 17:59] indutny commented on #90
@phillipp it should work on v4 node.js now, will figure out the rest very soon.

[2016-09-03 21:16] indutny commented on #90
@phillipp should be fixed in bud@4.0.8, please let me know if it doesn't work. Closing this issue for now.

_(NOTE: bud now requires some minor user input when installed, this is to due to the verification of GPG signatures of the dependencies)_

[2016-09-03 21:16] #90 closed

[2016-09-04 19:19] indutny commented on #90
Alright, it doesn't require a user input as of bud@4.0.9 .

[2016-09-05 11:27] phillipp commented on #90
Wow, that worked! Thank you very much!

[2016-09-05 11:28] indutny commented on #90
@phillipp you're more than welcome

[2016-09-05 11:45] phillipp commented on #90
When I just started deployment of this version into production (these machines have no develoment packages on them) I noticed that it's now working on Ubuntu 12.04 LTS but not on 14.04 LTS (running node v0.12.15):

[code]

Additionally, it still is a requirement to first install gypkg (via npm).

I think gypkg might be possible to install via npm as a requirement, but I am not sure. Maybe that is

[2016-09-05 11:55] indutny commented on #90
@phillipp I'm afraid `gypkg` works only on v4 node.js :( Separate installation of `gypkg` is not required, though!

[2016-09-05 12:09] phillipp commented on #90
Hm, so on 14.04 LTS we'll have to stay with 4.0.2 unless we install another node version?

[2016-09-05 12:21] indutny commented on #90
Any node version >= v4 will work too, it is just that v0.12 and before won't.

[2016-10-02 00:06] doublerebel opened #91 "Install fails on SmartOS: Ninja prebuild step does not detect platform"
Hello,

This latest release using ninja/gyp.js/ninja.js fails to build on SmartOS. none of the solaris-specific flags end up in the `.ninja` files.  I was able to manually change and add the correct cflags, ldflags, and defines, to the `.ninja` files for bud and libuv and build.  I had to add libuv's `unix/sunos.c` to the `.ninja` file for libuv also. (I pulled all the necessary information from t

[2016-10-26 19:05] doublerebel opened #92 "iOS Safari fails to connect when bud uses SNI/contexts and automatically disables SSL resumption cache"
Hello,

One of my users noticed today that a website I front with `bud` was not loading on iOS Safari.  I ran my site through the SSLLabs test and it was still passing with an A so I went looking for other answers.

Luckily I found this [LetsEncrypt forum post](https://community.letsencryt.org/t/apple-safari-browsers-fail-to-connect/3731/3), it seems iOS Safari fails to connect to nginx too, when

[2016-10-27 03:06] indutny commented on #92
Hello Charles!

Glad to hear that you use bud!

This session situation sounds really interesting, I'll take a deep look at it this week and we'll figure out the best solution for it!

Thank you,
Fedor.

[2016-10-29 02:04] indutny commented on #92
@doublerebel I'm having troubles reproducing this in iOS 10.1 simulator. This the config that I have used:

[code]

Are you using async SNI, or synchronous SNI? Does synchronous work for you?

[2016-11-04 19:41] indutny commented on #91
Should be fixed with gyp.js@1.4.14 . Please give it a try!

Sorry for delay!

[2016-11-07 14:32] phillipp opened #93 "Lots of segfaults"
Hi,
yesterday it has come to our attention that bud generates a lot of segfaults/general protection faults and traps on our production systems. For example this is the "segfault list" of one of these servers:

[code]

We have multiple servers with the same pattern. After a restart of the master everything is back to normal. When I grep the logs for one of these workers that dies I get the followin

[2016-11-07 17:20] phillipp commented on #93
We have now had two new segfaults with debug logs enabled but core dumps disabled. At least these two have similar debug messages at the end:

[code]

The other one looks similar:

[code]

I'll see that we procude a core dump next time...

[2016-11-07 19:53] phillipp commented on #93
This is the backtrace from one of the core dumps:

[code]

And another one:

[code]

Looks like the problem is in the error-callback. Do you see anything obvious? My guess would be a race condition between the teardown of the server and the client connection when both try to remove the connection from the pool, but this is just a guess from looking at the code.

[2016-11-08 02:10] indutny commented on #93
@phillipp thank you for reporting this! Do you still have these core dumps? May I ask you to print the contents of `request=0x46505c0` and `request=0x34eeb30`?

[2016-11-08 02:28] phillipp commented on #93
Yes, I have, but I'm not certain how to do that in gdb. How do I print what you need?

[2016-11-08 02:31] indutny commented on #93
@phillipp something like `p *(bud_http_request_t*) 0x34eeb30` may be worth a shot.

[2016-11-08 02:33] phillipp commented on #93
I already tried that, but that gave me only
[code]

[2016-11-08 02:35] indutny commented on #93
@phillipp `p *request`?

[2016-11-08 02:47] phillipp commented on #93
Oh, sure, I should have thought of that earlier
[code]

[code]

[2016-11-08 02:51] indutny commented on #93
@phillipp are you sure that this prints are from proper core dumps? I.e. the ones that contain these pointers in the backtrace?

Thank you!

[2016-11-08 02:58] phillipp commented on #93
Yes, I think so:

[code]

The request was printed like this:

[code]

[2016-11-08 03:05] indutny commented on #93
Oh, gosh. You are right!

Would you care to print out the `* client` from the next frames?

[2016-11-08 03:25] phillipp commented on #93
Sure:

[code]

[2016-11-08 03:28] indutny commented on #93
@phillipp thanks! Looks like `sni_req` contains a total junk, I'll look more into it. Thank you so much for all this information!

[2016-11-08 06:40] indutny commented on #93
At this point the most probable cause of this appears to be use-after-free in http pool's pooling mechanism. I'm not quite sure why restarting master helps here, but I'll try to find it out.

[2016-11-08 16:13] indutny commented on #93
@phillipp may I ask you to give a try to this patch?

[code]

[2016-11-08 19:08] phillipp commented on #93
Yes, I would, but actually I have no Idea how I can get npm to apply a patch before building. I tried downloading the 4.0.11 tarball, applying the patch and then "npm install ." and "npm install" - but that only gives me warnings about unmet dependenices:

[code]

Sorry, not familiar with node/npm :-(

[2016-11-08 19:10] indutny commented on #93
No problem, I'll publish the updated package with tests when I'll get home
(3-4 hours)

On Tuesday, November 8, 2016, phillipp <notifications@github.com> wrote:

[2016-11-08 19:17] indutny commented on #93
Meanwhile, if you want - you may try cloning the repo, applying the patch,
and running 'npm install -g .'

On Tuesday, November 8, 2016, Fedor Indutny <fedor.indutny@gmail.com> wrote:

[2016-11-08 21:53] phillipp commented on #93
H, not sure if that's a problem of my machine/setup or if I did something wrong, but is results in an error, too:

[code]

The log doesn't say anything that is obvious to me.

[2016-11-09 01:18] indutny commented on #93
@phillipp looks like that patch doesn't fix anything. Sorry! Looking more into it.

[2016-11-09 01:47] indutny commented on #93
@phillipp I've published bud@4.0.12 with few additional assertions (through 8110d50). May I ask you to deploy it and let me know if the app will hit any of them?

[2016-11-09 05:49] indutny commented on #93
@phillipp pushed out 4.0.13 too, with more debug logging for http-pool in f94e554 . Could you please re-deploy it if this is something possible? When the crash will happen in 4.0.13, I'd appreciate if you'll send me as much logs as possible (you may use my email or gist).

[2016-11-09 07:07] indutny commented on #93
@phillipp I think I finally found it! Please give a try to 4.0.14 !

[2016-11-09 09:55] phillipp commented on #93
Thanks, looks like you have made some progress :+1:  I've already deployed the new version on a couple of servers to test if the problem persists. I will post later if the problem occurred again.

[2016-11-09 12:40] phillipp commented on #93
Looks like that didn't do the trick, it segfaulted again. Would it help if I send you the core dump? If yes, can you confirm that this is your public key?

pub  4096R/305B8861 2016-05-03 Fedor Indutny (MBP) <fedor@indutny.com>
 Primary key fingerprint: AF2E EA41 EC34 47BF DD86  FED9 D706 3CCE 19B7 E890
      Subkey fingerprint: 72A3 33A2 E8A8 2FA8 4436  C715 6182 A7F9 305B 8861

[2016-11-09 17:01] indutny commented on #93
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Yep, that's me. My email is: fedor@indutny.com
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iQIcBAEBCAAGBQJYI1Z0AAoJEI1uqSFqR4H7w5gQAI1tBb4Fu8L1yDtuf2KW/LVf
/xv1snfgRC9/thZz0csgOgZXOGe29QJzacsS06fE7iYCAWaICZsMpTuP/fBQQ/pY
PgrkmEtKGRN6g2qlrl8oouYg8Su1zZLauYmqCTZB70X9jQ4scSmVi2NUVtBApEUy
2IRfWFtL90CDccc1NVdic60puaJ2Hc4Rcg1foBaDTU20ANEHd2kONzDSkJer

[2016-11-09 17:02] indutny commented on #93
@phillipp please send the `bud` binary too along with the core dump.

[2016-11-09 17:08] indutny commented on #93
@phillipp would be great to have a debug log of the process up to the crash point. As much as possible. Thank you!

[2016-11-09 19:16] indutny commented on #93
Few observations that I'm trying to put together to get a whole picture:

* `client->connect == kBudProgressDone` which means that it has selected and connected to backend
* `client->async_hello == kBudProgressRunning` which means that either ocsp or async sni is running (looks like the former one)
* `client->connect_req` appears to be completed, so `bud_client_connect` was very likely running

@p

[2016-11-10 14:43] phillipp commented on #93
Hi,
I have encrypted the bud binary, the latest core dump and the config, if you need anything more, just say the word:

https://storage.googleapis.com/trafficplexgmbh/bud-cores/bud.json.asc
https://storage.googleapis.com/trafficplexgmbh/bud-cores/bud.asc
https://storage.googleapis.com/trafficplexgmbh/bud-cores/core.bud.8923.asc

[2016-11-10 20:16] indutny commented on #93
@phillipp oh, I think I know what's happening... it crashes on a ticket rotation in absence of contexts. Thank you so much for the core dumps!

I'll work on fix ASAP.

[2016-11-10 20:21] indutny commented on #93
sorry, I was wrong... there is still a default context there, so this looks fine on a second look.

[2016-11-10 21:41] indutny commented on #93
it definitely looks like use-after-free, the `request` is freed and then attempted to be used.

[2016-11-10 21:54] indutny commented on #93
@phillipp while I'm looking into it - do you think you could try to obtain a core dump from the latest bud along with the debug logs?

[2016-11-10 21:59] phillipp commented on #93
Oh dang, I forget to update. Already done, debug logs coming in, will surely produce a new dump over the night ;.)

[2016-11-10 22:05] indutny commented on #93
Heh, what is the latest version that crashed in your setup?

[2016-11-10 22:15] indutny commented on #93
This is a good news 👍 ,  actually! It may be fixed with cd575ca and b3331ea. Please let me know how it behaves 😉

[2016-11-11 15:18] phillipp commented on #93
Oh, I didn't see that you released .20 already. Will upgrade and check again. In the meantime, you may want to verify your solution with this dump/binary/log from 4.0.14:

https://storage.googleapis.com/trafficplexgmbh/bud-cores/bud-4_0_14.asc
https://storage.googleapis.com/trafficplexgmbh/bud-cores/bud_log.asc
https://storage.googleapis.com/trafficplexgmbh/bud-cores/core.bud.15224.asc

[2016-11-11 17:17] indutny commented on #93
@phillipp thanks! Do you have a bit more logs from that run? I'm looking for lines that mention `11e64390`.

[2016-11-11 17:24] phillipp commented on #93
Yes, I have:

[code]

[2016-11-11 17:46] indutny commented on #93
Oh, that's really funny... I'll need think about it. Thank you!

@phillipp it'd still be cool to have the data and logs from the latest version. Thanks for keeping up with me!

[2016-11-11 18:37] indutny commented on #93
@phillipp could you please share the full log of pid= 15224 crash? I think I have one idea.

[2016-11-12 23:56] phillipp commented on #93
Sure: https://system-zeus.lima-city.de/bud_log

[2016-11-13 00:04] indutny commented on #93
Thank you, @phillipp !

[2016-11-13 00:06] phillipp commented on #93
You're very welcome. Could you confirm your clue?

[2016-11-13 00:12] indutny commented on #93
@phillipp sorry, I've to remind myself about it :) Got distracted.

[2016-11-13 03:43] indutny commented on #93
@phillipp btw, how does .20 behave?

[2016-11-13 03:56] indutny commented on #93
@phillipp I think I fixed it. Please give a try to **4.0.21** .

[2016-11-13 15:55] phillipp commented on #93
When I'm not mistaken the logs should have been from 4.0.20. I'll give .21 a shot!

[2016-11-14 12:27] phillipp commented on #93
Until now: no segfaults :-) We'll have to wait a bit longer, but certainly looks good!

[2016-11-14 19:36] indutny commented on #93
Good! Thank you! I'll work on the test.

[2016-11-14 21:07] #93 closed

[2016-11-14 21:08] indutny commented on #93
Added a test. This issue is closed now, but please let me know how it works!

[2016-11-14 22:40] #91 closed

[2016-11-14 22:40] indutny commented on #74
@phillipp I believe we may have fixed this in the recent release.

[2016-11-14 22:40] #74 closed

[2016-11-14 22:41] #57 closed

[2016-11-14 22:41] #16 closed

[2016-11-14 22:41] #12 closed

[2016-11-14 22:41] #70 closed

[2016-11-14 22:41] #86 closed

[2016-11-14 22:42] indutny opened #94 "Set non-random TLS ticket keys on dynamical SNI contexts."
n/t

[2016-11-14 22:46] phillipp commented on #74
I think I'll again grep the logs for this just to be sure. You think this could be related to the use-after-free?

[2016-11-14 22:52] indutny commented on #74
@phillipp it is very very likely. Please let me know if we haven't fixed it!

[2016-11-15 15:20] phillipp commented on #74
Yes, now I see that this looks like the same problem. LGTM!

[2016-11-15 19:13] indutny commented on #74
Fantastic! Still no crashes, right?

[2016-11-15 23:02] phillipp commented on #74
None so far. On none of the servers. Looks great, I think it's fixed! Thanks for the effort!

[2016-11-16 02:22] indutny commented on #74
Hooray! Two issues in a row 👍

[2016-11-18 16:14] phillipp commented on #93
Just to clarify: I now see log lines like this. Is this a "hard error" or just a warning regarding the client connection?

[code]

[2016-11-18 18:25] indutny commented on #93
@phillipp this is quite normal, just wasn't logged before.

[2016-11-18 18:25] indutny commented on #93
@phillipp it is not about client, but about a connection opened to your SNI server. It times out eventually and gets killed.

[2016-11-19 08:36] indutny opened #95 "Retry async SNI requests"
SNI connection may time out right after dequeuing from the pool. Instead of killing associated incoming connection - bud should attempt to create a new connection.

[2016-11-19 08:36] #92 closed

[2016-11-19 15:34] phillipp commented on #93
Hm, that's strange, because the SNI server does not report any connection aborts. I'll have a look at that, maybe it's just that the log level is too high, maybe the kernel drops connections. Is the abort while sending the request, receiving the reply or is that unknown?

[2016-11-19 19:28] indutny commented on #93
99.9% of such failures are not actually relevant, I've just changed the logging levels in 0ad704e. Now it is "warning" if SNI request was attached to client, and just "notice" if it got error while hanging out in the pool.

[2016-11-19 19:28] indutny commented on #93
This is released in 4.0.23

[2016-12-03 21:08] phillipp opened #96 "Another segfault with SNI"
Hey,
I was cleaning up the old core dumps and noticed that I got a new one. Seems to stem from the SNI code again, but an extremely rare one (took about one week to occur just once):

[code]

It's only a hunch, but I think the `free` in question might already be free'd in bud_context_free or not even initalized.

The core dump is 2 gigabytes. Should I upload it for you?

[2016-12-03 21:25] phillipp opened #97 "bud leaks memory"
Howdy,
I have just noticed that bud heavily leaks memory in our setup.

We had 4 workers running and *each* of them consumed ~5.7 GB of memory after running for around 7 days. I've now started to collectd memory usage data and will report my findings but wanted to give some advance notice.

**Edit**: This is what the memory usage looks like when bud is restarted: http://i.imgur.com/nWERbLm.png

[2016-12-04 06:49] #96 closed

[2016-12-04 06:49] indutny commented on #96
Should be fixed now, thank you!

[2016-12-05 14:08] indutny commented on #97
Wow! Were there any leaks before the latest patches?

[2016-12-05 15:33] phillipp commented on #97
I honestly have no idea, I saw this 2 days ago and started collecting some data. Here you can see the VM size graphed for the last 2 days. "ares" is just idling and doesn't handle any real traffic, zeus takes the most part of prod traffic and hera the rest. You can see that more traffic makes it grow faster:

http://i.imgur.com/9DPfijV.png

I have checked the derivative (change over time, basicall

[2016-12-07 00:43] phillipp commented on #97
I have now run bud with valgrind and got some results. It looks like mostly it's the certificates that leak memory:

[code]

Another one points in the same direction:

[code]

Is it possible that certificates that have been loaded via HTTP are not freed after the request has ended?

[2016-12-08 13:34] indutny commented on #97
Should be fixed in 4.0.25, please give it a try! Fixed by: b93b897

[2016-12-08 13:35] #97 closed

[2016-12-08 13:35] indutny commented on #97
(Sorry for delay, I was on a conference and the internet was spotty)

[2016-12-08 14:08] phillipp commented on #97
Nice job, thanks! I had thought the problem would lie somewhere else entirely! I'll report the new results in a few days!

[2016-12-08 14:09] indutny commented on #97
Thank you!

[2016-12-08 14:10] indutny opened #98 "SNI context LRU cache"
bud could keep a short list of recently received SNI contexts to avoid parsing if response is the same. Could probably use E-Tag?

[2016-12-09 13:04] indutny opened #99 "cert_cb not triggered when client sends valid TLS ticket"
n/t

[2016-12-09 15:07] phillipp commented on #97
It is still leaking ~70 megs of memory in 24 hours (x 30 days => 2.1 Gigs), but not nearly as fast as before.

I don't want to waste your time, but to me this seems like something that is still worth looking into...

I thought the client.c:67 might be worth a shot, but I couldn't find an obvious case where it should be free'd and is not, I'm just not familiar enough with the code :-(

[2016-12-09 15:07] phillipp commented on #97
Ah, screenshot, If you like: https://i.imgur.com/gMjSCKr.png

[2016-12-09 18:18] indutny commented on #97
Sorry, @phillipp ! At least we have more time for this now :) Will take a look at it soon.

[2016-12-09 18:38] phillipp commented on #97
Ah, no worries! We have used bud for at least one year now and we are so, so happy! ‎I really appreciate all your work! 

[2016-12-09 20:51] indutny commented on #99
Discussing this with OpenSSL team.

[2016-12-18 16:22] indutny commented on #97
@phillipp thanks for kind words! Just pushed the commit that should fix the leak, please give it a try 😉 (bud@4.0.26)

[2016-12-19 23:45] phillipp commented on #97
Nice, I'll give it a spin!

[2017-02-16 19:22] phillipp opened #100 "DDoS resilience"
Hi,
we have now had 2 DDoS attacks on HTTPS specifically and I must say, it wasn't easy to mitigate at all. Both incidents had a connection rate of > 10k incoming connections/s and bud was stomped by the attacker. I recognize that this is not the fault of bud, but of SSL by design.

We're now looking into possible mitigation strategies. The most important thing is quality of service (multi-tenant

[2017-02-16 19:24] phillipp commented on #100
Btw: the quick fix was raising an error in the SNI HTTP server for the attacked domain name, so bud closes the connection after receiving the HTTP 500 and doesn't spend time on the handshake ;-)

[2017-02-17 15:16] phillipp opened #101 "bud not building again..."
I still don't understand why the bud build process is so fragile and complicated. Doesn't compile, again:

Checked out the repo @ /tmp/bud, changed to the dir and trying to compile from source:

[code]

Then:
[code]

So then I tried the one from node_modules only tro get another error message:

[code]

Node is v4.7.3

What is the problem?

It works just fine on some other ubuntu trusty system. I h

[2017-02-17 15:22] phillipp commented on #101
Okay, that was dumb. Need to checkout the submodules, too. Will think next time before opening an issue...

[2017-02-17 15:22] #101 closed

[2017-02-17 23:39] indutny commented on #101
No problem

[2017-04-18 22:38] creationix opened #102 "Add lets encrypt integration using sni challenge."
It would be really cool if I could configure bud with a list of approved domains, my contact email, and a flag saying I agree to the letsencrypt TOS.  Then when a TLS connection comes in, it will automatically register and cache key/cert pairs using letsencrypt.

[2017-04-19 03:24] indutny commented on #102
I believe this is possible with external asynchronous SNI backend, which could be even a node.js server.

[2017-04-19 22:10] creationix commented on #102
True.  So you're saying it's out of scope for bud itself then?

[2017-04-19 22:12] indutny commented on #102
Yes, the complexity of this feature will be close to the complexity of the project itself.

[2017-04-19 22:16] creationix commented on #102
sounds good, thanks anyway!

[2017-04-19 22:16] #102 closed

[2017-05-11 18:56] skbergam opened #103 "`npm i -g bud` requires legacy version of node?"
I tried to install bud with the instructions in the readme (after running `apt install nodejs`), but I got this error:

[code]

Then I ran `apt install nodejs-legacy` and bud was able to install just fine.

[2017-05-19 02:38] indutny commented on #103
This is pretty strange error. My bet would be that you don't have `node` available in your environment. Could it be that it is installed under some other name? If this is the case - creating a symlink should solve this.

[2017-05-19 02:38] #103 closed

[2018-03-12 14:22] oliverw opened #104 "Protocol agnostic?"
One question, is bud tied to the http protocol or protocol agnostic (supports any TCP payloads)?

[2018-03-12 15:37] indutny commented on #104
The latter.

[2018-03-12 15:37] #104 closed, assigned to nobody

[2018-03-14 13:17] oliverw opened #105 "Configuration for multiple frontends mapping 1:1 to multiple backends"
After inspecting the readme I've come to the conclusion that it _should_ be possible to configure a scenario where a single bud instance listens on multiple ports (same interface) and directs traffic to a single backend by setting the backend's <code>external</code> property to match the external IP and port of a frontend:

Example:

[code]

Would this work?

[2018-12-04 01:03] luckypoem opened #109 ""gypkg build" encounter error"
hi.
on my linux vps,

npm install -g gypkg
git clone https://github.com/indutny/bud
cd bud
npm install
gypkg build

it shows:
...
Call to 'gypkg deps "git://github.com/libuv/libuv.git@^1.9.0 => uv.gyp:libuv" "git://github.com/nodejs/http-parser@^2.7.1 [gpg] => http_parser.gyp:http_parser" "git://github.com/gypkg/ringbuffer@^1.0.0 [gpg] => ringbuffer.gyp:ringbuffer" "git://github.com/gypkg/openssl@

[2018-12-04 01:12] indutny commented on #109
Tbh, I haven't updated this project in a very long time. It might be unsafe to use it!

[2018-12-10 07:15] #109 closed, assigned to nobody